<div class ="container">
    <div class="game">
        <div class="game__pad game__pad--tl" (mousedown)="acenderPad($event); setJogada('green');" (mouseup)="apagarPad($event)" [class.game__pad--active]="greenActive"></div>
        <div class="game__pad game__pad--tr" (mousedown)="acenderPad($event); setJogada('red');" (mouseup)="apagarPad($event)" [class.game__pad--active]="redActive"></div>
        <div class="game__pad game__pad--bl" (mousedown)="acenderPad($event); setJogada('yellow');" (mouseup)="apagarPad($event)" [class.game__pad--active]="yellowActive"></div>
        <div class="game__pad game__pad--br" (mousedown)="acenderPad($event); setJogada('blue');" (mouseup)="apagarPad($event)" [class.game__pad--active]="blueActive"></div>

        <div class="game__options">
            <h1 class="game__title">Twin Genious</h1>

            <div class="gui">
                <div class="group">
                    <div class="gui__btn gui__btn--restart" (click)="acionaReset()"></div>
                    <p class="gui__label">Restart</p>
                </div>
            </div>
        </div>
    </div>
</div>