<div class="main">
    <h1> Twin Genious </h1>
</div>


<div class="gui">
    <div class="group">
        <div class="gui__btn gui__btn--facil" (click)="startGame()"></div>
        <p class="gui__label">Fácil</p>
    </div>

    <div class="group">
        <div class="gui__btn gui__btn--medio" (click)="startGame()"></div>
        <p class="gui__label">Médio</p>
    </div>

    <div class="group">
        <div class="gui__btn gui__btn--dificil" (click)="startGame()"></div>
        <p class="gui__label">Difícil</p>
    </div>
</div>
