h1{
    text-align: center;
    font-size: 10rem;
    color: greenyellow;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

h2{
    text-align: center;
    text-align: center;
    font-size: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.main{
    padding-bottom: 0;
}